# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
local.properties

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Coverage
coverage/